/* Barra de navegacion */

.navbar {
  background-color: #f5f6f7; /*color de fondo*/
}

.navbar-collapse {
  align-items: center; /*alineacion vertical centrado*/
  justify-content: space-between;  /*distribucion de contenido ocupando desde los extremos*/
}

/* Estilos generales */

section { /*todos los section son centrados*/
  display: flex; /*caja flexible*/
  flex-direction: column; /*direccion de columna = */
  align-items: center; /*alineacion vertical centrado*/
  justify-content: center; /*alineacion horizontal centrado*/
}
.centrado{
  display: flex; /*caja flexible*/
  align-items: center; /*alineacion vertical centrado*/
  justify-content: center;/*alineacion horizontal centrado*/
}

.seccion-oscura {
  color: white; /*color de letra*/
  background-color: #1b1b32;/*color de fondo*/
}

.seccion-clara {
  color: black; /*color de letra*/
  background-color: white;/*color de fondo*/
}

/*.seccion-texto {*/
  /*font-size: 1.2rem; /*tamaño de letra*/
/*}*/


.seccion-titulo {
  font-size: 2rem; /*tamaño de letra*/
  padding: 15px 0; /*padding < border < margin*/
  font-family: 'Rubik Dirt', cursive; /*familia de letra*/
}

.seccion-descripcion {
  font-size: 1.2rem; /*tamaño de letra*/
  color: #584e4e; /*color de letra*/
}
.seccion-imagen{
  border: solid 4px darkred; /*padding < border < margin*/
  border-radius: 15px; /*curva de esquinas*/
  margin: 10px; /*padding < border < margin*/
}

.educacion-descripcion{
  text-align: justify; /*justificado en el texto*/
  padding: 0 20px; /*padding < border < margin*/
}

/* Talleres */

.talleres {
  padding: 40px 40px 80px 40px; /*padding < border < margin (arriba, -->, abajo, <--)*/
}

.talleres .carousel {
  max-width: 800px; /*ancho maximo*/
}

.carousel-item {
  height: 500px; /*altura fija*/
}

.carousel-item .container {
  width: 100%; /*ancho total*/
  height: 100%;/*altura total*/
  display: flex;/*caja flexible*/
  flex-direction: column;/*direccion de columna = */
  align-items: center; /*alineacion vertical centrada*/
  justify-content: center;/*alineacion horizontal centrada*/
}

.taller-imagen {
  height: 150px;/*altura fija*/
  width: 150px;/*ancho fijo*/
  margin: 10px 10px 20px 10px;/*padding < border < margin*/
}

.taller-texto {
  max-width: 70%;/*ancho maximo*/
  font-size: 20px;/*tamaño de letra*/
  text-align: center;/*texto alineado horizontalmente al centro*/
  font-family: 'Share Tech Mono', monospace;/*familia de texto*/
}

.taller-info {
  font-weight: bold;/*negrita*/
  text-align: center;/*texto alineado horizontalmente al centro*/
}

.taller-info p {
  margin-bottom: 0;/*padding < border < margin - bottom = abajo*/
}

.taller-footer .cliente {
  font-size: 1.2rem;/*tamaño de letra*/
}

.taller-info .cargo {
  font-size: 0.9rem;/*tamaño de letra*/
  color: #656060;/*color de letra*/
}

/* Pie de pagina (footer) */

footer {
  min-height: 450px;/*altura minima*/
}

.footer-logo {
  height: 80px;/*altura fija*/
  width: 80px;/*ancho fijo*/
  margin: 10px;/*padding < border < margin*/
}

.footer-texto {
  font-size: 1.5rem;/*tamaño de letra*/
  padding: 20px;/*padding < border < margin*/
  margin-bottom: 30px;/*padding < border < margin*/
  font-family: 'Quicksand', sans-serif;/*familia de letra*/
}

.iconos-redes-sociales a {
  width: 50px;/*ancho fijo*/
  height: 50px;/*altura fija*/
  display: flex;/*caja flexible*/
  align-items: center;/*alineacion vertical centrado*/
  justify-content: center;/*alineacion horizontal centrado*/
  padding: 2px;/*padding < border < margin*/
  margin: 10px;/*padding < border < margin*/
  border: 2px solid white;/*padding < border < margin*/
  border-radius: 50%;/*radio de borde*/
  transition: all 0.2s ease-in;/*transicion*/
}

.iconos-redes-sociales i {
  color: white; /*color de letra*/
  font-size: 1.5rem;/*tamaño de letra*/
  transition: all 0.2s ease-in;/*transicion*/
}

.iconos-redes-sociales a:hover {
  background-color: white;/*color de letra*/
  border: 2px solid rgb(13, 110, 253);/*padding < border < margin*/
}

.iconos-redes-sociales a:hover i {
  color: black;/*color de letra*/
}

.derechos-de-autor {
  font-size: 15px;/*tamaño de letra*/
  color: #aeaeae;/*color de letra*/
  padding: 20px;/*padding < border < margin*/
}